@font-face {
  font-family: "arsenalregular";
  src: url("./Fonts/arsenal-regular-webfont.woff2") format("woff2"),
    url("./Fonts/arsenal-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "acherusgrotesque-regular";
  src: url("./Fonts/acherusgrotesque-regular-webfont.woff2") format("woff2"),
    url("./Fonts/acherusgrotesque-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: "arsenalregular";
  background-color: rgb(48, 47, 47);
  overflow: hidden;
}

.block-page {
  display: flex;
  align-items: center;
  margin: 8vh 8vh 15vh 8vh;
}

#opacity {
  opacity: 1;
}

.wrapper img {
  height: 10vh;
  -webkit-transition: -webkit-transform 0.3s ease-in-out;transition: -webkit-transform 0.3s ease-in-out;-o-transition: transform 0.3s ease-in-out;transition: transform 0.3s ease-in-out;transition: transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
}

#white-rook,
#white-king,
#black-king,
#white-knight {
  cursor: pointer;
}

.wrapper #white-queen {
  cursor: grab;
}
.wrapper img:hover {
  -webkit-transform: scale(1.3);
  -ms-transform: scale(1.3);
  transform: scale(1.3);
  -webkit-transition: -webkit-transform 0.3s ease-in-out;
  transition: -webkit-transform 0.3s ease-in-out;
  -o-transition: transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
}

.wrapper {
  width: 80vh;
  height: auto;
  display: grid;
  grid-template-columns: repeat(8, 10vh);
  border-radius: 3px;
  box-shadow: 4px 8px 10px;
}

.a1 {
  border-radius: 0px 0px 0px 5px;
}

.a8 {
  border-radius: 5px 0px 0px 0px;
}

.h8 {
  border-radius: 0px 5px 0px 0px;
}

.h1 {
  border-radius: 0px 0px 5px 0px;
}

.wrapper > div {
  height: 10vh;
}

.motionh6-out {
  -webkit-filter: opacity(0%);
  filter: opacity(0%);
  -webkit-transform: translate(50vw);
  -ms-transform: translate(50vw);
  transform: translate(50vw);
  -webkit-transition: all 1.2s cubic-bezier(0, 0.54, 0.92, 1.04) 0.3s;
  -o-transition: all 1.2s cubic-bezier(0, 0.54, 0.92, 1.04) 0.3s;
  transition: all 1.2s cubic-bezier(0, 0.54, 0.92, 1.04) 0.3s;
}

.motionh6-in {
  -webkit-transform: translate(0, -100%);
  -ms-transform: translate(0, -100%);
  transform: translate(0, -100%);
  -webkit-transition: -webkit-transform 1.5s;
  transition: -webkit-transform 1.5s;
  -o-transition: transform 1.5s;
  transition: transform 1.5s;
  transition: transform 1.5s, -webkit-transform 1.5s;
}

.cvvictor {
  display: flex;
  justify-content: center;
  height: 100vh;
  max-width: initial;
}

.download,
.contact,
.linkedin {
  margin-left: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.download > i,
.contact > i,
.linkedin > i {
  display: flex;
  flex-direction: column;
  color: rgb(93, 149, 253);
  font-size: 3em;
  cursor: pointer;
  margin-top: 10px;
}

.download > p,
.contact > p,
.linkedin > p {
  color: rgb(93, 149, 253);
  font-size: 0.7em;
  -webkit-transition: -webkit-transform 0.3s;transition: -webkit-transform 0.3s;-o-transition: transform 0.3s;transition: transform 0.3s;transition: transform 0.3s, -webkit-transform 0.3s;
}

.cv-buttons-hover {
  transform: translate(0, -7px);
  -webkit-transition: -webkit-transform 0.3s;transition: -webkit-transform 0.3s;-o-transition: transform 0.3s;transition: transform 0.3s;transition: transform 0.3s, -webkit-transform 0.3s;
}

.instructions {
  margin-left: 5vh;
  padding: 2vh 5vh;
}

.instructions span {
  color: rgb(93, 149, 253);
  cursor: pointer;
}
.instructions #challenge {
  text-decoration: underline;
}

.instructions-links {
  display: flex;
  justify-content: center;
}

.instructions-links > a {
  display: inline-block;
  width: 10em;
  margin: 20px 20px 20px 20px;
  padding: 0.5em 1em;
  cursor: pointer;
  text-decoration: none;
  text-align: center;
  background-color: #393737;
}

.instructions > p {
  font-family: "acherusgrotesque-regular";
  color: rgb(223, 224, 224);
}

#help {
  color: #8fc866;
  border: 1px solid #8fc866;
  -webkit-transition: all 0.3s;-o-transition: all 0.3s;transition: all 0.3s;
}

#solution {
  line-height: 40px;
  color: rgb(93, 149, 253);
  border: 1px solid rgb(93, 149, 253);
  -webkit-transition: all 0.3s;-o-transition: all 0.3s;transition: all 0.3s;
}

#skip {
  line-height: 40px;
  overflow: visible;
  color: rgb(218, 124, 36);
  border: 1px solid rgb(218, 124, 36);
  -webkit-box-shadow: inset 0.4em 0.4em rgb(218, 124, 36), 0.4em 0.4em rgb(218, 124, 36);
          box-shadow: inset 0.4em 0.4em rgb(218, 124, 36), 0.4em 0.4em rgb(218, 124, 36);
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

#help:hover {
  color: whitesmoke;
  -webkit-box-shadow: inset 0 -3.7em 0 #13d25e;
          box-shadow: inset 0 -3.7em 0 #13d25e;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

#solution:hover {
  color: white;
  -webkit-box-shadow: inset 12.1em 0 rgb(93, 149, 253);
          box-shadow: inset 12.1em 0 rgb(93, 149, 253);
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

#skip:hover {
  color: white;
  -webkit-box-shadow: inset 8em 4em rgb(236, 206, 32);
          box-shadow: inset 8em 4em rgb(236, 206, 32);
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

.help-squares {
  -webkit-box-shadow: inset 0 -5em #13d25e;
  box-shadow: inset 0 -5em #13d25e;
  -webkit-transition: -webkit-box-shadow 0.5s ease-in-out;
  transition: -webkit-box-shadow 0.5s ease-in-out;
  -o-transition: box-shadow 0.5s ease-in-out;
  transition: box-shadow 0.5s ease-in-out;
  transition: box-shadow 0.5s ease-in-out, -webkit-box-shadow 0.5s ease-in-out;
}

.guide-squares {
  -webkit-box-shadow: inset -1vh 1vh 0 #156df1;
  box-shadow: inset -1vh 1vh 0 #156df1;
  -webkit-transition: -webkit-box-shadow 0.5s ease-in-out;
  transition: -webkit-box-shadow 0.3s ease-in-out;
  -o-transition: box-shadow 0.3s ease-in-out;
  transition: box-shadow 0.3s ease-in-out;
  transition: box-shadow 0.3s ease-in-out, -webkit-box-shadow 0.3s ease-in-out;
}

.solution-squares {
  -webkit-box-shadow: inset 5em 0 #156df1;
  box-shadow: inset 0 5em #156df1;
  -webkit-transition: -webkit-box-shadow 0.5s ease-in-out;
  transition: -webkit-box-shadow 0.5s ease-in-out;
  -o-transition: box-shadow 0.5s ease-in-out;
  transition: box-shadow 0.5s ease-in-out;
  transition: box-shadow 0.5s ease-in-out, -webkit-box-shadow 0.5s ease-in-out;
}

.e8 {
  position: relative;
}

.f3 {
  position: relative;
}

.g1 {
  position: relative;
}

.h6 {
  position: relative;
}

.white-rook-text,
.white-knight-text,
.white-queen-text,
.white-king-text,
.black-king-text {
  background-color: whitesmoke;
  padding: 1em 1.5em;
  border-radius: 3px;
  font-size: 2vh;
  color: black;
  font-family: "acherusgrotesque-regular";
  position: absolute;
  left: 1vh;
  top: 1vh;
  white-space: nowrap;
  line-height: 0;
  opacity: 0;
  transition: opacity 0.3s;
  visibility: hidden;
}

.white-rook-text > p:first-child,
.white-knight-text > p:first-child,
.white-queen-text > p:first-child,
.white-king-text > p:first-child,
.black-king-text > p:first-child {
  font-weight: bold;
}

.white-rook-text_hover,
.white-knight-text_hover,
.white-queen-text_hover,
.white-king-text_hover,
.black-king-text_hover {
  visibility: initial;
  opacity: 1;
  -webkit-transition: opacity 0.3s;-o-transition: opacity 0.3s;transition: opacity 0.3s;
  z-index: 10;
}

.white-rook-defense-square,
.white-knight-defense-square,
.white-queen-defense-square,
.white-king-defense-square,
.black-king-defense-square {
  outline: solid 0.4vh;
  outline-color: rgb(133, 15, 88);
  outline-style: dashed;
  outline-offset: -0.7vh;
  -webkit-transition: outline-offset 0.3s;
  -o-transition: outline-offset 0.3s;
  transition: outline-offset 0.3s;
}

.modal-escape-bg,
.modal-pat-bg {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.1);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
          align-items: center;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: opacity 0.5s;
  -o-transition: opacity 0.5s;
  transition: opacity 0.5s;
}

.modal-escape-bg-active,
.modal-pat-bg-active {
  visibility: visible;
  opacity: 1;
}

.modal-escape {
  display: flex;
  align-items: baseline;
  font-family: "acherusgrotesque-regular";
  background-color: rgb(93, 149, 253);
  padding: 1em 1.5em;
  border-radius: 5px;
  box-shadow: rgb(53, 66, 255) 0.2em 0.2em 1em;
}

.modal-pat {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "acherusgrotesque-regular";
  background-color: rgb(93, 149, 253);
  padding: 1em 1.5em;
  border-radius: 5px;
  box-shadow: rgb(53, 66, 255) 0.2em 0.2em 1em;
}

.modal-escape > p {
  font-size: 1.5em;
  margin-right: 25px;
}

.modal-pat > p,
.modal-pat li {
  font-size: 0.9em;
}

.modal-escape i,
.modal-pat i {
  font-size: 2em;
}

.retry-escape,
.skip-escape,
.retry-pat,
.skip-pat {
  margin-left: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.retry-escape > i {
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  -o-transition-property: transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
  -webkit-transition-duration: 1s;
  -o-transition-duration: 1s;
          transition-duration: 1s;
}

.retry-escape > p,
.skip-escape > p {
  font-size: 0.7em;
  margin-top: 0;
  -webkit-transition: letter-spacing 0.4s;-o-transition: letter-spacing 0.4s;transition: letter-spacing 0.4s;
}

.retry-escape > i:hover,
.retry-pat > i:hover {
  cursor: pointer;
  -webkit-animation-name: rotate;
  animation-name: rotate;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
}

@-webkit-keyframes rotate {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(-360deg);
            transform: rotate(-360deg);
  }
}
@keyframes rotate {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(-360deg);
            transform: rotate(-360deg);
  }
}

.modal-escape-visible {
  letter-spacing: 0.1em;
  -webkit-transition: letter-spacing 0.4s;-o-transition: letter-spacing 0.4s;transition: letter-spacing 0.4s;
}

.skip-escape > i,
.skip-pat > i {
  cursor: pointer;
}

.g7 {
  position: relative;
}

.a1 {
  background-color: #769655;
}

.a2 {
  background-color: #eeeed2;
}

.a3 {
  background-color: #769655;
}

.a4 {
  background-color: #eeeed2;
}

.a5 {
  background-color: #769655;
}

.a6 {
  background-color: #eeeed2;
}

.a7 {
  background-color: #769655;
}

.a8 {
  background-color: #eeeed2;
}

.b1 {
  background-color: #eeeed2;
}

.b2 {
  background-color: #769655;
}

.b3 {
  background-color: #eeeed2;
}

.b4 {
  background-color: #769655;
}

.b5 {
  background-color: #eeeed2;
}

.b6 {
  background-color: #769655;
}

.b7 {
  background-color: #eeeed2;
}

.b8 {
  background-color: #769655;
}

.c1 {
  background-color: #769655;
}

.c2 {
  background-color: #eeeed2;
}

.c3 {
  background-color: #769655;
}

.c4 {
  background-color: #eeeed2;
}

.c5 {
  background-color: #769655;
}

.c6 {
  background-color: #eeeed2;
}

.c7 {
  background-color: #769655;
}

.c8 {
  background-color: #eeeed2;
}

.d1 {
  background-color: #eeeed2;
}

.d2 {
  background-color: #769655;
}

.d3 {
  background-color: #eeeed2;
}

.d4 {
  background-color: #769655;
}

.d5 {
  background-color: #eeeed2;
}

.d6 {
  background-color: #769655;
}

.d7 {
  background-color: #eeeed2;
}

.d8 {
  background-color: #769655;
}

.e1 {
  background-color: #769655;
}

.e2 {
  background-color: #eeeed2;
}

.e3 {
  background-color: #769655;
}

.e4 {
  background-color: #eeeed2;
}

.e5 {
  background-color: #769655;
}

.e6 {
  background-color: #eeeed2;
}

.e7 {
  background-color: #769655;
}

.e8 {
  background-color: #eeeed2;
}

.f1 {
  background-color: #eeeed2;
}

.f2 {
  background-color: #769655;
}

.f3 {
  background-color: #eeeed2;
}

.f4 {
  background-color: #769655;
}

.f5 {
  background-color: #eeeed2;
}

.f6 {
  background-color: #769655;
}

.f7 {
  background-color: #eeeed2;
}

.f8 {
  background-color: #769655;
}

.g1 {
  background-color: #769655;
}

.g2 {
  background-color: #eeeed2;
}

.g3 {
  background-color: #769655;
}

.g4 {
  background-color: #eeeed2;
}

.g5 {
  background-color: #769655;
}

.g6 {
  background-color: #eeeed2;
}

.g7 {
  background-color: #769655;
}

.g8 {
  background-color: #eeeed2;
}

.h1 {
  background-color: #eeeed2;
}

.h2 {
  background-color: #769655;
}

.h3 {
  background-color: #eeeed2;
}

.h4 {
  background-color: #769655;
}

.h5 {
  background-color: #eeeed2;
}

.h6 {
  background-color: #769655;
}

.h7 {
  background-color: #eeeed2;
}

.h8 {
  background-color: #769655;
}

@media all and (max-width: 1390px) {
  .block-page {
    margin: 0 0 0 0;
  }

  .instructions {
    padding: 2vh 2vh;
  }
}

@media all and (max-width: 1180px) {
  .block-page {
    flex-direction: column;
    align-items: flex-start;
  }

  .instructions {
    border: none;
  }
}
